@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NunitoBlack";
    src: url("../fonts/NunitoSans/NunitoSans-Black.ttf");
}

@font-face {
    font-family: "NunitoLight";
    src: url("../fonts/NunitoSans/NunitoSans-Light.ttf");
}